<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>ぐるなびローカル検索</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="css/html5-doctor-reset-1.6.1.css">
  <link rel="stylesheet" href="css/detail.css">
  <script src="https://kit.fontawesome.com/02fee29c1b.js" crossorigin="anonymous"></script>
</head>
<body class="search-body">
  <header>
    <div class="">
      <h1>ぐるなび ローカル検索</h1>
      <p>GURUNAVI local search</p>
    </div>
  </header>
  <div class="popup-fix">
    <button class="popup-button"type="button"><a href="index.html">検索条件を変える</a></button>
    </div>
  <div class="backTop">
    <i class="fas fa-chevron-up"></i>
  </div>

  <main class="detail-main">

    <div class="detail-restaurant">
      <div class="detail-title">
        <h2></h2>
        <p class="detail-pr"></p>
      </div>
      <div class="detail-info">
        <div class="detail-img-container">
          <div class="detail-main-img"></div>
          <div class="detai-img-sub-container"></div>
        </div>
        <table class="detail-table">
          <tr>
            <td>店名</td>
            <td class="detail-name"></td>
          </tr>
          <tr>
            <td>営業時間</td>
            <td class="detail-opentime"></td>
          </tr>
          <tr>
            <td>電話</td>
            <td class="detail-tel"></td>
          </tr>
          <tr>
            <td>アクセス</td>
            <td class="detail-access"></td>
          </tr>
          <tr>
            <td>URL</td>
            <td class="detail-url"><a href="#"></a></td>
          </tr>
          <tr>
            <td>住所</td>
            <td class="detail-address"><a href = "#"></a></td>
          </tr>
        </table>
      </div>
    </div>

    <div class="detail-back-outer">
      <div class="detail-back-btn">
        <p>一覧に戻る</p>
      </div>
    </div>
  </main>

  <footer>
    <p>Copyright &copy; Yuya Mitsui  All Rights Reserved.</p>
    <p>
      Supported by <a href="https://api.gnavi.co.jp/api/scope/" target="_blank">ぐるなびWebService</a>
    </p>
  </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="js/scroll-event.js"></script>
  <script src="js/detail.js"></script>
</body>
</html>
