<html>
  <head>
    <meta charset="utf-8" />
    <title>ローカルぐるめ検索</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="stylesheet" href="css/html5-doctor-reset-1.6.1.css">
    <link rel="stylesheet" href="css/index.css" type="text/css">

    <script src="https://kit.fontawesome.com/02fee29c1b.js" crossorigin="anonymous"></script>

  </head>
  <body class="search-body">
    <div class="loader-wrap">
      <div class="loader">Loading...</div>
    </div>
    <header>
      <div class="">
        <h1>ローカルぐるめ検索</h1>
        <p>local goumet searcher</p>
      </div>
    </header>
    <main>
      <div class="main-alert">
        <p class="alert-message">※位置情報サービスの使用を許可してください。</p>
      </div>
      <div class="main-search">
        <h2 class="main-search-title">現在地周辺のレストラン情報を検索</h2>
        <form class="main-search-form" action="/result" method="post" accept-charset="UTF-8">
          <div class="form-input-LatLog">
            <input class="form-latitude" type="text" name="latitude" readonly required>
            <input class="form-longitude" type="text" name="longitude" readonly required>
          </div>
          <p class="get-loc-container">
            <button type="button" class="get-location"> <img src="img/globe.png" alt=""> <p>位置情報を取得</p></button>
          </p>
          <p class="range-container">
            <select class="form-input-range" name="range" required>
              <option value="">検索半径(m)</option>
              <option value="1" >300m</option>
              <option value="2" >500m</option>
              <option value="3" >1000m</option>
              <option value="4" >2000m</option>
              <option value="5" >3000m</option>
            </select>
          </p>
          <p><input class="form-input-freeword" type="text" name="freeword" placeholder="フリーワード"></p>
          <p><input class="form-submit" type="submit" name="" value="検索"></p>
        </form>
      </div>
    </main>

    <footer>
      <p>Copyright &copy; Yuya Mitsui  All Rights Reserved.</p>
      <p>
        Supported by <a href="https://api.gnavi.co.jp/api/scope/" target="_blank">ぐるなびWebService</a>
      </p>

    </footer>

    <%- '<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>'  %>
    <%- '<script src="js/load.js"></script>' %>
    <%- '<script src="js/main.js"></script>' %>
  </body>
</html>
