@import url("layout.css");
main{
  padding: 2rem 25%;
  box-sizing: border-box;
  height: 79vh;
  position: relative;
}
.main-alert{
  position: absolute;
  text-align: center;
  line-height: 2rem;
  font-size: .7rem;
  color: #F16565;
  display: none;
  pointer-events: none;
  left: 0;
  right: 0;
}
.main-alert.active{
  display: block;
  pointer-events: auto;
  transition: .3s;
}
.main-alert img{
  width: 2.5rem;
  height: auto;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.main-alert img:hover{
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
  transition: .2s;
}
.main-alert img:active{
  box-shadow: none;
  transition: .1s;
}
.main-search{
  background-color: #D1D1D1;
  border-radius: 15px;
  padding: 7% 10% 5%;
  text-align:center;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
}
.main-search-title{
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 3rem;
}
.main-search-form{
  padding: 0 15%;
}
.main-search-form p:not(:last-child){
  margin-bottom: 1rem;
}
.form-input-LatLog{
  font-size: 0.7rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.form-input-LatLog input{
  margin-bottom: .5rem;
  width: 45%;
  color: rgba(38,38,38,0.7);
  background-color: #E4E4E4;
  border: none;
  border-radius: 15px;
  height: 1.5rem;
  padding-left: 1em;
  font-size: 0.6rem;
}
.form-input-LatLog::before{
  content: "緯度";
}
.form-input-LatLog::after{
  content: "経度";
  left: 51%;
}
.form-input-LatLog::before,.form-input-LatLog::after{
  position: absolute;
  font-weight: bold;
  font-size: 0.7rem;
  top: -0.8rem;
}
.get-loc-container{
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.get-location{
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  border: none;
  border-radius: 15px;
  padding: .5rem .7rem;
  font-size: .6rem;
  background-color: #FFF;
  width: auto;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
.get-location img{
  width: 1.1rem;
  margin-right: .5rem;
}
.get-location p{
  line-height: 1.1rem;
  font-weight: bold;
  color: #444444;
}
.get-location:active{
  opacity: .8;
}
.form-input-range{
  font-size: 0.7rem;
  color: rgba(38,38,38,0.7);
  border: none;
  border-radius: 15px;
  height: 2rem;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  padding-left: 1em;
}
.range-container{
  position: relative;
}
.range-container::before{
  content: '\f078';
  position: absolute;
  width: 30px;
  height: 30px;
  font-family:'Font Awesome 5 Free';
  font-weight: 900;
  top:0;
  bottom:0;
  right:1rem;
  margin: auto;
  color: rgba(38,38,38,0.7);
  display: block;
  pointer-events: none;
  z-index: 1;
}
.form-input-freeword{
  font-size: 0.7rem;
  color: rgba(38,38,38,0.7);
  border: none;
  border-radius: 15px;
  height: 2rem;
  width: 100%;
  padding-left: 1em;
  box-sizing: border-box;
}
.form-submit{
  border-radius: 15px;
  cursor: pointer;
  background-color: #F16565;
  border: none;
  color: #FFF;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
  width: 4em;
  height: 2em;
  margin: auto;
}
.form-submit:active{
  opacity: .8;
}
@media screen and (max-width: 1024px) {
  main,footer{
    height: auto;
  }
  main{
    padding: 0 0;
  }
  footer{
    display: block;
    font-size: .4rem;
    padding: 3% 10% 0;
  }
  footer p{
   text-align: center;
  }
  .main-alert{
    font-size: .5rem;
    top: -1;
    font-weight: bold;
  }
  .main-search{
    border-radius: 0;
    padding: 15% 0;
  }
  .main-search-title{
    font-size: .9rem
  }
  .main-search-form{
    padding: 0 5%;
  }
  .form-submit{
    width: 5em;
  }
}
