html,body{
  background-color: #E8E8E8;
  font-size: 30px;
  color: #303030;
}
a{
  text-decoration: none;
  color: black;
}
li{
  list-style: none;
}
input:focus,select:focus,button:focus{
    outline: none;
}
input::-moz-focus-inner,select::-moz-focus-inner,button::-moz-focus-inner{ /*Firefox用*/
    border: none;
}
header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F16565;
  text-align: center;
  color: #FFF;
  height: 15vh;
  box-shadow: 5px 5px 10px rgba(112,112,112,0.3);
}
header p{
  font-size: .7rem;
}
footer{
  display: flex;
  justify-content: space-around;
  padding: 0 25%;
  font-size: .5rem;
  height: 6vh;
  color: #FFF;
  background-color: #F16565;
  box-shadow: 0px -5px 10px rgba(0,0,0,0.3);
}
footer p{
  line-height: 6vh;
}
footer a{
  color: black;
  text-decoration: underline;
}

/*以下result.html detail.htmlのスタイル*/
.popup-fix{
  width: 100%;
  height: 4rem;
  box-shadow: 0 0px 10px rgba(112,112,112,0.3);
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  box-sizing: border-box;
}
.popup-fix.fixed{
  position: fixed;
  z-index: 100;
  -webkit-transform: translateZ(0);
  top:0;
}
.pupup-query{
  font-size: .7rem;
  line-height: 1.7em;
}
.pupup-query span{
  font-weight: bold;
  color: #F16565;
}
.popup-button{
  font-size: .7rem;
  border-radius: 15px;
  cursor: pointer;
  background-color: #F16565;
  border: none;
  color: #FFF;
  font-weight: bold;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
  height: 2rem;
  width: 20%;
  padding: 0;
}
.popup-button a{
  display: inline-block;
  color: #FFF;
  width: 100%;
  height: 100%;
  line-height: 2rem;
}
.popup-button:active{
  opacity: .8;
}
.backTop{
  background-color: #262626;
  opacity: 0.8;
  display: inline-block;
  height: 3em;
  width: 3em;
  font-size: 1rem;
  position: fixed;
  -webkit-transform: translateZ(0);
  right: -3rem;
  bottom: 10%;
  color: #FFF;
  cursor: pointer;
  transition: .3s;
}
.backTop.active{
  right: 0;
  transition: .3s;
}
.backTop i{
  text-align: center;
  display: block;
  line-height: 3rem;
}
.backTop:hover{
  opacity: 1;
  transition: .3s;
}
.backTop:active{
  opacity: 0.8;
}
.restaurant-cat{
  position: absolute;
  right: 1rem;
  top: 1rem;
  color: #F16565;
  font-size: .5rem;
  border-radius: 30px;
  border: 1px solid #F16565;
  line-height: 1.3em;
  padding: .3em 1em;
  padding-left: 2em;
  cursor: pointer;
  z-index: 100;
}
.restaurant-cat::before{
  content: "";
  position: absolute;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #F16565;
  top: 0;
  bottom: 0;
  left: 0.5em;
  margin: auto;
}
.restaurant-cat:hover{
  color: #FFF;
  background-color: #F16565;
  transition: .2s;
}
.restaurant-cat:hover::before{
  background-color: #FFF;
}
.restaurant-cat:active{
  opacity: .8;
}

/*loader 参考 https://recooord.org/loading-animation/
Single Element Css Spinners (https://projects.lukehaas.me/css-loaders/)
*/
.loader-wrap {
	position: fixed;
	display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #F16565;
    z-index: 200;
}
.loader {
  color: #ffffff;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
